<div class="list-group list-group-flush">
    {% for log in logs %}
        <a
            href="#"
            hx-get="{{ path('audio_log_show',{'id':log.id}) }}"
            hx-target="#log-detail-content"
            hx-swap="innerHTML"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#log-detail"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-start"
        >
            <div class="d-flex justify-content-start align-items-start">
                <div class="fs-3 pe-3"><span class="badge text-bg-primary">{{ log.sessionNumber }}</span></div>
                <div>
                    <div class="fw-bold">{{ log.subject }}</div>
                    <div class="text-primary">Part {{ log.partNumber }}</div>
                    <p class="card-text small text-truncate">{{ log.summary }}</p>
                </div>
            </div>
            <div class="small text-muted text-end">{{ log.createdAt|date('d.m.Y') }}<br>{{ log.speaker }}</div>
        </a>
    {% else %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <small>Keine Audio-Logs vorhanden</small>
    </div>
    {% endfor %}
</div>
