<!DOCTYPE html>
<html lang="de" data-bs-theme="light" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, viewport-fit=cover, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Alumni" />
        <link rel="manifest" href="/site.webmanifest" />
        <title>{% block title %}Audio-to-Text-Summarizer (AtTS){% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-light" style="padding-top: 120px">
        {% block body %}
            <div class="modal fade" id="log-detail" tabindex="-1" aria-labelledby="log-detail-title" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content" id="log-detail-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="log-detail-title">Daten werden geladen ...</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center" id="log-detail-body">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Daten werden geladen ...</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-3">
                <div class="">
                    <div class="col">
                        <div class="">

                            <div class="row align-items-end row-cols-4 g-3 mb-3 fixed-top p-3 bg-primary-subtle border-primary border-bottom shadow">
                                <div class="col-12">
                                    <h1 class="h4 mb-0"><i class="ti ti-device-audio-tape text-success me-2"></i>Audio-Protokoll-Monitor</h1>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="date-select">
                                        <i class="ti ti-filter"></i>
                                        Datum filtern
                                    </label>
                                    <select
                                        hx-get="{{ path('audio_log_index') }}"
                                        hx-target="#logs"
                                        hx-trigger="change"
                                        hx-include="[name='property'], [name='asc']"
                                        class="form-select"
                                        aria-label="Datum"
                                        name="date"
                                        id="date-select"
                                    >
                                        <option value="all" selected>alle Daten</option>
                                        <option value="{{ "now"|date('Y-m-d') }}">heute</option>
                                        {% for value in dates %}
                                            <option value="{{ value.created_at|slice(0,10) }}">{{ value.day|date('d.m.Y') }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col">
                                    <label class="form-label" for="property-select">
                                        <i class="ti ti-category"></i>
                                        Sortieren nach
                                    </label>
                                    <select
                                        hx-get="{{ path('audio_log_index') }}"
                                        hx-target="#logs"
                                        hx-trigger="change"
                                        hx-include="[name='date'], [name='asc']"
                                        class="form-select"
                                        aria-label="Eigenschaft"
                                        name="property"
                                        id="property-select"
                                    >
                                        <option value="createdAt" selected>Datum</option>
                                        <option value="partNumber">Part</option>
                                        <option value="sessionNumber">Session</option>
                                        <option value="speaker">Sprecher</option>
                                        <option value="subject">Titel</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label class="form-label" for="asc-select">
                                        <i class="ti ti-arrows-sort"></i>
                                        Sortierrichtung
                                    </label>
                                    <select
                                        hx-get="{{ path('audio_log_index') }}"
                                        hx-target="#logs"
                                        hx-trigger="change"
                                        hx-include="[name='date'], [name='property']"
                                        class="form-select"
                                        aria-label="Sortierung"
                                        name="asc"
                                        id="asc-select"
                                    >
                                        <option value="0" selected>abwärts</option>
                                        <option value="1">aufwärts</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <button
                                        style="height: 38px"
                                        hx-get="{{ path('audio_log_index') }}"
                                        hx-target="#logs"
                                        hx-include="[name='date'], [name='asc']"
                                        class="d-flex justify-content-center align-items-center btn btn-primary w-100"
                                    >
                                        <i class="ti ti-refresh me-2"></i>Aktualisieren
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card rounded-0 border-start-0 border-end-0">
                            <div class="card-header"></div>
                            <div id="logs" hx-get="{{ path('audio_log_index') }}" hx-swap="innerHTML" hx-trigger="load every 30s">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item small">Daten werden geladen ...</div>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    <footer>
        <div class="container-fluid">
            <small>&copy; 2025 - Benjamin Wagner</small>
        </div>
    </footer>
    </body>
</html>
